DATABASE_URL=Host=localhost;Database=root;Username=root;Password=root;Port=5432
JWT_KEY=c0iUlC5gJRY2VuGuZSdKkvcRj7lnPPyyXI5P4Zivf4V
JWT_ISSUER=your_jwt_issuer_here
JWT_AUDIENCE=your_jwt_audience_here
GOOGLE_CLIENT_ID=650841274369-8vdv1rp6t4l6da4bk0tl9kgu0sd7e05g.apps.googleusercontent.com
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz
MOMO_ENDPOINT=https://test-payment.momo.vn
MOMO_REDIRECT_URL=http://localhost:5173/booking/payment-result
MOMO_FRONTEND_REDIRECT_URL=http://localhost:5173/booking/payment-result
MOMO_IPN_URL=http://localhost:5026/api/payments/momo/ipn
MOMO_PARTNER_NAME=PBL3
MOMO_STORE_ID=PBL3Store
MOMO_REQUEST_TYPE=captureWallet
MOMO_LANG=vi
